body
{
    margin: 0px;
    padding: 0px;
    background: url('gym backgroung.png');
}

.left{
    color: white;
    font-family:bebas neue;
}

.mid{
    color: white;
    font-family:bebas neue;
}

.right{
    color: white;
    font-family:bebas neue;
}